{
  "plugins": [
    "transform-flow-strip-types",
    "transform-es2015-modules-commonjs"
  ],
  "env": {
    "es": {
      "ignore": [
        "__tests__",
        "*.test.js"
      ]
    },
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ],
      "ignore": [
        "__tests__",
        "*.test.js"
      ]
    },
    "umd": {
      "plugins": [
        ["transform-es2015-modules-umd", { "loose": true }]
      ],
      "ignore": [
        "__tests__",
        "*.test.js"
      ],
      "moduleId": "Introversion"
    }
  }
}
